.error {
  position: relative;
  width: 100%;
  max-width: 500px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: #eec8c5;
  border: 1px solid #ab8481;
  border-radius: 4px;
  padding: 25px;
  &-title {
    font-size: 26px;
    font-weight: 600;
    color: #b12822;
    margin: 0 0 15px 0;
  }
  &-message {
    color: #6e4845;
  }
  &-btn {
    position: absolute;
    top: 25px;
    width: 25px;
    height: 25px;
    right: 25px;
    background: none;
    border: 1px solid #6e4845;
    border-radius: 100%;
    &:hover, &:focus {
      cursor: pointer;
      outline-color: #b12822;
    }
  }
}

//Animation

.fade-error {
  &-enter-active, &-leave-active {
    transition: all 0.5s ease-out;
  }
  &-enter, &-leave-to, &-leave-active {
    opacity: 0;
    transform: translate(-50%, -200px);
  }
}

//Media

@media screen and (max-width: 576px) {
  .error {
    width: 96%;
  }
}
